@media screen and (max-width: 1750px) {
  :root {
    --titles-font-size: 38px;
  }
  .step-header__title {
    max-width: 450px;
  }
  .step-list {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 30px;
  }
}

@media screen and (max-width: 1500px) {
  :root {
    /* global */
    --side-paddings: 150px;

    /* header */
    --header-ul-gap: 40px;
    --header-a-font-size: 14px;

    /* btn */
    --btn-padding-top: 12px;
    --btn-padding-bottom: 12px;
    --btn-font-size: 14px;
    --btn-line-height: 15px;

    /* btn-link */
    --btn-link-padding-left: 25px;
    --btn-link-padding-right: 25px;

    /* btn-primary */
    --btn-primary-padding-left: 40px;
    --btn-primary-padding-right: 40px;

    /* abovetitle */
    --abovetitle-font-size: 18px;

    /* titles */
    --titles-font-size: 40px;
    --titles-main-font-size: 55px;

    /* titles-step-item */
    --titles-step-item-font-size: 26px;

    /* desc */
    --desc-font-size: 14px;

    /* desc-story */
    --desc-story-font-size: 16px;

    /* main-section */
    --main-section-side-paddings: 62px;
    --btn-section-padding-top: 14px;
    --btn-section-padding-bottom: 14px;

    /* step-section */
    --step-container-padding: 155px 45px 300px;

    /* story-section */
    --story-container-padding: 200px 0 150px;
  }

  /* main-section */
  .main-section__desc {
    max-width: 330px;
    margin-bottom: 46px;
  }

  .main-section__img {
    max-width: 600px;
  }

  /* step-section */
  .step-header {
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    column-gap: 120px;
  }
  .step-list {
    margin-top: 40px;
    grid-template-columns: repeat(auto-fill, minmax(255px, 1fr));
    gap: 35px;
  }
  .step-item__desc {
    margin-bottom: 50px;
  }

  /* story-section */
  .story__info {
    max-width: 460px;
  }
  .story__title {
    margin-bottom: 22px;
  }
  .story__desc {
    margin-bottom: 43px;
  }
  .story__img {
    max-width: 600px;
  }
  .story__icon-play {
    max-width: 60px;
    max-height: 60px;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
  }

  /* product */
  .product__container {
    padding: 100px 90px 200px;
    gap: 45px;
  }

  .product__img {
    max-width: 440px;
  }

  .product__info {
    max-width: 440px;
  }

  .product__abovetitle {
    margin-bottom: 7px;
  }

  .product__title {
    margin-bottom: 14px;
  }

  .product__desc {
    max-width: 370px;
    margin-bottom: 28px;
  }

  /* footer */
  .footer__container {
    padding: 80px 50px 70px;
  }
  .footer__logo {
    font-size: 35px;
  }
  .footer__ul {
    gap: 25px;
  }
  .footer__a {
    font-size: 21px;
  }
}

@media screen and (max-width: 1380px) {
  /* step-section */
  .step-header {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 80px;
  }

  /* story-section */
  .story__info {
    max-width: 450px;
  }
}

@media screen and (max-width: 1200px) {
  :root {
    /* global */
    --side-paddings: 100px;

    /* header */
    --header-ul-gap: 30px;
    --header-container-padding: 10px 50px;
    --header-a-font-size: 12px;

    /* btn */
    /* --btn-radius: 4px; */
    --btn-padding-top: 10px;
    --btn-padding-bottom: 10px;
    --btn-font-size: 12px;
    --btn-line-height: 12px;

    /* btn-link */
    --btn-link-padding-left: 20px;
    --btn-link-padding-right: 20px;

    /* btn-primary */
    --btn-primary-padding-left: 30px;
    --btn-primary-padding-right: 30px;

    /* abovetitle */
    --abovetitle-font-size: 16px;

    /* titles */
    --titles-font-size: 32px;
    --titles-main-font-size: 44px;

    /* titles-step-item */
    --titles-step-item-font-size: 20px;

    /* desc */
    --desc-font-size: 12px;

    /* desc-story */
    --desc-story-font-size: 13px;

    /* main-section */
    --main-section-side-paddings: 50px;
    --main-section-title-max-width: 340px;
    --btn-section-padding-top: 12px;
    --btn-section-padding-bottom: 12px;

    /* step-section */
    --step-container-padding: 145px 35px 250px;

    /* story-section */
    --story-container-padding: 150px 0 120px;
  }

  /* main-section */
  .main-section__desc {
    max-width: 260px;
    margin-bottom: 40px;
  }

  .main-section__img {
    max-width: 400px;
  }

  /* step-section */
  .step-header {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 40px;
  }
  .step-list {
    margin-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 25px;
  }
  .step-item__desc {
    margin-bottom: 40px;
  }

  /* story-section */
  .story__info {
    max-width: 350px;
  }
  .story__title {
    margin-bottom: 10px;
  }
  .story__desc {
    margin-bottom: 22px;
  }
  .story__img {
    max-width: 400px;
  }

  .story__img img{
    border-radius: 12px;
  }

  .story__icon-play {
    max-width: 40px;
    max-height: 40px;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
  }

  /* product */
  .product__container {
    padding: 80px 70px 160px;
    gap: 40px;
  }

  .product__img {
    max-width: 365px;
  }

  .product__info {
    max-width: 365px;
  }

  .product__abovetitle {
    margin-bottom: 5px;
  }

  .product__title {
    margin-bottom: 10px;
  }

  .product__desc {
    max-width: 300px;
    margin-bottom: 18px;
  }

  /* footer */
  .footer__container {
    padding: 60px 10px 50px;
  }
  .footer__logo {
    font-size: 28px;
  }
  .footer__ul {
    gap: 25px;
  }
  .footer__a {
    font-size: 16px;
  }

}

@media screen and (max-width: 992px) {
  :root {
    /* global */
    --side-paddings: 70px;

    /* header */
    --header-ul-gap: 20px;
    --header-container-padding: 5px 30px;
    --header-a-font-size: 10px;

    /* btn */
    /* --btn-radius: 4px; */
    --btn-padding-top: 10px;
    --btn-padding-bottom: 10px;
    --btn-font-size: 10px;
    --btn-line-height: 10px;

    /* btn-link */
    --btn-link-padding-left: 15px;
    --btn-link-padding-right: 15px;

    /* btn-primary */
    --btn-primary-padding-left: 20px;
    --btn-primary-padding-right: 20px;

    /* abovetitle */
    --abovetitle-font-size: 14px;

    /* titles */
    --titles-font-size: 24px;
    --titles-main-font-size: 32px;

    /* titles-step-item */
    --titles-step-item-font-size: 20px;

    /* desc */
    --desc-font-size: 10px;

    /* desc-story */
    --desc-story-font-size: 11px;

    /* main-section */
    --main-section-side-paddings: 25px;
    --main-section-title-max-width: 270px;
    --btn-section-padding-top: 12px;
    --btn-section-padding-bottom: 12px;

    /* step-section */
    --step-container-padding: 115px 25px 180px;

    /* story-section */
    --story-container-padding: 130px 0 100px;
    --story-container-gap: 20px;
  }

  .header__logo {
    max-width: 60px;
  }
  
  /* main-section */
  .main-section__desc {
    max-width: 200px;
    margin-bottom: 40px;
  }

  .main-section__img {
    max-width: 300px;
  }

  /* step-section */
  .step-header {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    column-gap: 20px;
  }

  .step-list {
    margin-top: 30px;
    grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
    gap: 20px;
  }
  .step-item__desc {
    margin-bottom: 40px;
  }

  /* story-section */
  .story__info {
    max-width: 270px;
  }
  .story__title {
    margin-bottom: 8px;
  }
  .story__desc {
    margin-bottom: 16px;
  }
  .story__img {
    max-width: 340px;
  }

  .story__img img{
    border-radius: 10px;
  }

  .story__icon-play {
    max-width: 30px;
    max-height: 30px;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
  }

  /* product */
  .product__container {
    padding: 60px 50px 100px;
    gap: 40px;
  }

  .product__img {
    max-width: 300px;
  }

  .product__info {
    max-width: 280px;
  }

  .product__abovetitle {
    margin-bottom: 5px;
  }

  .product__title {
    margin-bottom: 8px;
  }

  .product__desc {
    max-width: 230px;
    margin-bottom: 14px;
  }

  /* footer */
  .footer__container {
    padding: 50px 5px 40px;
  }
  .footer__logo {
    font-size: 28px;
  }
  .footer__ul {
    gap: 20px;
  }
  .footer__a {
    font-size: 14px;
  }

}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 320px) {
}
