@media screen and (max-width: 1440px) {
  :root {
    /* global */
    --side-paddings: 150px;

    /* header */
    --header-ul-gap: 40px;
    --header-container-padding: 14px 70px;
    --header-a-text-color: #292929;
    --header-a-font-size: 16px;

    /* btn */
    --btn-radius: 4px;
    --btn-padding-top: 13px;
    --btn-padding-bottom: 13px;
    --btn-font-size: 16px;
    --btn-line-height: 21px;

    /* btn-link */
    --btn-link-padding-left: 25px;
    --btn-link-padding-right: 25px;

    /* btn-primary */
    --btn-primary-padding-left: 40px;
    --btn-primary-padding-right: 40px;

    /* abovetitle */
    --abovetitle-steps-font-size: 20px;
    --abovetitle-product-font-size: 21px;

    /* titles */
    --titles-font-size: 40px;
    --titles-main-font-size: 55px;

    /* titles-step-item */
    --titles-step-item-font-size: 26px;

    /* desc */
    --desc-font-size: 16px;

    /* desc-story */
    --desc-story-font-size: 18px;

    /* main-section */
    --main-section-side-paddings: 62px;
    --main-section-btn-padding-top: 18px;
    --main-section-btn-padding-bottom: 18px;
    --main-section-img-max-width: 600px;

    /* step-section */
    --step-container-padding: 155px 45px 300px;
    --step-header-grid-template-columns-min: 330px;
    --step-header-column-gap: 60px;
    --step-list-margin-top: 60px;
    --step-list-grid-template-columns-min: 320px;
    --step-list-gap: 40px;

    --step-item-title-margin-bottom: 20px;
    --step-item-desc-margin-bottom: 50px;

    /* story-section */
    --story-container-padding: 200px 0 150px;
    --story-info-max-width: 480px;
    --story-title-margin-bottom: 24px;
    --story-desc-margin-bottom: 45px;
    --story-img-border-radius: 14px;
    --story-img-max-width: 660px;

    --story-icon-play-max-width: 60px;
    --story-icon-play-max-height: 60px;
    --story-icon-play-top: calc(50% - 30px);
    --story-icon-play-left: calc(50% - 30px);

    /* product-section */
    /* footer */
  }
}

@media screen and (max-width: 1024px) {
  :root {
    /* global */
    --side-paddings: 90px;

    /* header */
    --header-logo-max-width: 70px;
    --header-ul-gap: 20px;
    --header-container-padding: 10px 45px;
    --header-a-font-size: 13px;

    /* btn */
    --btn-radius: 4px;
    --btn-padding-top: 10px;
    --btn-padding-bottom: 10px;
    --btn-font-size: 13px;
    --btn-line-height: 14px;

    /* btn-link */
    --btn-link-padding-left: 15px;
    --btn-link-padding-right: 15px;

    /* btn-primary */
    --btn-primary-padding-left: 30px;
    --btn-primary-padding-right: 30px;

    /* abovetitle */
    --abovetitle-steps-font-size: 17px;
    --abovetitle-product-font-size: 18px;

    /* titles */
    --titles-font-size: 32px;
    --titles-main-font-size: 50px;

    /* titles-step-item */
    --titles-step-item-font-size: 20px;

    /* desc */
    --desc-font-size: 14px;

    /* desc-story */
    --desc-story-font-size: 14px;

    /* main-section */
    --main-section-side-paddings: 40px;
    --main-section-btn-padding-top: 14px;
    --main-section-btn-padding-bottom: 14px;
    --main-section-desc-max-width: 300px;
    --main-section-img-max-width: 450px;

    /* step-section */
    --step-container-padding: 135px 25px 250px;
    --step-header-grid-template-columns-min: 390px;
    --step-header-column-gap: 25px;
    --step-list-margin-top: 40px;
    --step-list-grid-template-columns-min: 230px;
    --step-list-gap: 35px;

    --step-item-title-margin-bottom: 18px;
    --step-item-desc-margin-bottom: 40px;

    /* story-section */
    --story-container-padding: 180px 0 130px;
    --story-info-max-width: 490px;
    --story-title-margin-bottom: 20px;
    --story-desc-margin-bottom: 40px;
    --story-img-border-radius: 13px;
    --story-img-max-width: 460px;

    --story-icon-play-max-width: 50px;
    --story-icon-play-max-height: 50px;
    --story-icon-play-top: calc(50% - 25px);
    --story-icon-play-left: calc(50% - 25px);

    /* product-section */
    /* footer */
  }
}

@media screen and (max-width: 768px) {
  :root {
    /* global */
    --side-paddings: 30px;

    /* header */
    --header-logo-max-width: 60px;
    --header-ul-gap: 15px;
    --header-container-padding: 5px 35px;
    --header-a-font-size: 11px;

    /* btn */
    --btn-radius: 4px;
    --btn-padding-top: 7px;
    --btn-padding-bottom: 7px;
    --btn-font-size: 11px;
    --btn-line-height: 11px;

    /* btn-link */
    --btn-link-padding-left: 10px;
    --btn-link-padding-right: 10px;

    /* btn-primary */
    --btn-primary-padding-left: 20px;
    --btn-primary-padding-right: 20px;

    /* abovetitle */
    --abovetitle-steps-font-size: 13px;
    --abovetitle-product-font-size: 14px;

    /* titles */
    --titles-font-size: 28px;
    --titles-main-font-size: 36px;

    /* titles-step-item */
    --titles-step-item-font-size: 16px;

    /* desc */
    --desc-font-size: 12px;

    /* desc-story */
    --desc-story-font-size: 12px;

    /* main-section */
    --main-section-side-paddings: 30px;
    --main-section-title-max-width: 300px;
    --main-section-desc-max-width: 260px;
    --main-section-desc-margin-bottom: 30px;
    --main-section-btn-padding-top: 10px;
    --main-section-btn-padding-bottom: 10px;
  
    --main-section-img-max-width: 320px;

    /* step-section */
    --step-container-padding: 110px 5px 180px;
    --step-header-grid-template-columns-min: 340px;
    --step-header-column-gap: 30px;
    --step-list-margin-top: 35px;
    --step-list-grid-template-columns-min: 210px;
    --step-list-gap: 30px;

    --step-item-title-margin-bottom: 14px;
    --step-item-desc-margin-bottom: 30px;

    /* story-section */
    --story-container-padding: 140px 0 120px;
    --story-info-max-width: 300px;
    --story-title-margin-bottom: 15px;
    --story-desc-margin-bottom: 20px;
    --story-img-border-radius: 10px;
    --story-img-max-width: 385px;

    --story-icon-play-max-width: 40px;
    --story-icon-play-max-height: 40px;
    --story-icon-play-top: calc(50% - 25px);
    --story-icon-play-left: calc(50% - 25px);

    /* product-section */
    /* footer */
  }
}
