:root {
  /* global */
  --ff-main: "Poppins", sans-serif;
  --ff-add: "Lato", sans-serif;
  --ff-logo: "Montserrat", sans-serif;

  --background-color-body: #a8a8a8;
  --background-color-wrapper: #fff;

  --side-paddings: 207px;

  --color-primary: #01996d;

  /* header */
  --background-color-header: #fff;
  --border-color: #d6d6d6;
  --header-container-gap: 30px;
  --header-ul-gap: 72px;
  --header-container-padding: 14px 70px;
  --header-a-text-color: #292929;
  --header-a-font-size: 20px;
  --header-btn-gap: 10px;

  /* btn */
  --btn-radius: 4px;
  --btn-padding-top: 13px;
  --btn-padding-bottom: 13px;
  --btn-font-size: 20px;
  --btn-line-height: 25px;

  /* btn-link */
  --btn-link-text-color: #000;
  --btn-link-padding-left: 30px;
  --btn-link-padding-right: 30px;

  /* btn-primary */
  --btn-primary-background-color: #01996d;
  --btn-primary-text-color: #fff;
  --btn-primary-padding-left: 50px;
  --btn-primary-padding-right: 50px;

  --btn-section-padding-top: 20px;
  --btn-section-padding-bottom: 20px;

  
  /* abovetitle */
  --abovetitle-text-color: #424242;
  --abovetitle-font-size: 24px;

  /* titles */
  --titles-text-color: #01996d;
  --titles-font-size: 50px;
  --titles-main-font-size: 65px;

  /* titles-step-item */
  --titles-step-item-text-color: #000;
  --titles-step-item-font-size: 30px;

  /* titles-story */
  --titles-story-text-color: #fff;

  /* desc */
  --desc-text-color: #484848;
  --desc-font-size: 20px;

  /* desc-steps */
  --desc-steps-text-color: #424242;

  /* desc-story */
  --desc-story-text-color: #fff;
  --desc-story-font-size: 25px;

  /* main-section */
  --background-color-main: #fff;
  --main-section-side-paddings: 68px;
  --main-section-container-gap: 20px;
  --main-section-title-max-width: 443px;

  /* step-section */
  --background-color-step: #fff;
  --step-container-padding: 169px 57px 392px;
  
  /* story-section */
  --background-color-story: #245852;
  --story-container-padding: 229px 0 177px;
  --story-container-gap: 31px;

  /* product-section */
  --product-img-color-background: rgba(1, 153, 109, 0.2);

  /* footer */
  --footer-background-color: #245852;
  --footer-logo-text-color: #fff;
  --footer-text-color: #fff;

}
