body {
  font-family: var(--ff-main);
  background: var(--background-color-body);
}

.wrapper {
  max-width: 1920px;
  margin-inline: auto;
  background: var(--background-color-wrapper);
}
.container {
  width: 100%;
  margin-inline: auto;
}

img {
  transition: all 0.2s linear;
}

img:hover {
  transform: scale(1.2);
}



/* btn */
.btn {
  display: inline-block;
  cursor: pointer;
  border: 0;
  outline: 0;
  border-radius: var(--btn-radius);
  background: transparent;
  padding-top: var(--btn-padding-top);
  padding-bottom: var(--btn-padding-bottom);
  font-family: var(--ff-add);
  font-size: var(--btn-font-size);
  font-weight: 500;
  line-height: var(--btn-line-height);
  transition: 0.2s all ease-in-out;
}

.btn_link {
  margin-inline: auto;
  color: var(--btn-link-text-color);
  line-height: normal;
  padding-left: var(--btn-link-padding-left);
  padding-right: var(--btn-link-padding-right);
}

.btn_primary {
  border: 1px solid var(--btn-primary-background-color);
  background: var(--btn-primary-background-color);
  color: var(--btn-primary-text-color);
  padding-left: var(--btn-primary-padding-left);
  padding-right: var(--btn-primary-padding-right);
}

/* header */
.header {
  background-color: var(--background-color-header);
  border-bottom: 1px solid var(--border-color);
  padding-left: var(--side-paddings);
  padding-right: var(--side-paddings);
}

.header__container {
  padding: var(--header-container-padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 200px;
  white-space: nowrap;
}

.header__logo {
  max-width: 80px;
  flex-shrink: 0;
  display:block;
  
  /* justify-content: center; */
  transition: 0.2s all ease-in-out;
}

.header__logo img {
  width: 100%;
  height: auto;
}

.header__nav {
  width: 100%;
  /* margin-inline: auto; */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.header__ul {
  width: 100%;
  display: flex;
  align-items: center;
  gap: var(--header-ul-gap);
}

.header__a {
  font-family: var(--ff-add);
  color: var(--header-a-text-color);
  font-family: var(--ff-add);
  font-size: var(--header-a-font-size);
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
}

.header__logo,
.header__a:hover,
.footer__a:hover,
.footer__logo:hover {
  display: inline-block;
  transform: scale(1.2);
}

.btn:hover {
  transform: scale(1.2);
}

.header__btn {
  align-content: end;
  /* max-width: 100px; */
  /* width: 100%;   */
  display: flex;
  align-items: center;
  gap: var(--header-btn-gap);
}

.header__menu-burger,
.header__menu-back,
.block-back {
  display: none;
}

.header__icon-menu,
.header__icon-back {
  color: var(--header-a-text-color);
  font-size: 30px;
}

.header__chk {
  display: none;
}

/* main-section */
.main-section {
  background-color: var(--background-color-main);
  padding-left: var(--side-paddings);
}
.main-section__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--main-section-container-gap);
  padding-left: var(--main-section-side-paddings);
}

.main-section__info {
  /* max-width: 410px;
  flex-shrink: 0; */
}

.titles {
  color: var(--color-primary);
  font-family: var(--ff-main);
  font-size: var(--titles-font-size);
  font-weight: 700;
  line-height: 157%;
}

.main-section__title {
  max-width: var(--main-section-title-max-width);
  font-size: var(--titles-main-font-size);
  line-height: normal;
  margin-bottom: 10px;
}

.desc {
  font-family: var(--ff-add);
  color: var(--desc-text-color);
  font-size: var(--desc-font-size);
  font-weight: 400;
  line-height: 157%;
}

.main-section__desc {
  max-width: 420px;
  margin-bottom: 53px;
}

.main-section__btn {
}

.btn_sections {
  padding-top: var(--btn-section-padding-top);
  padding-bottom: var(--btn-section-padding-bottom);
}

.main-section__img {
  max-width: 792px;
  width: 100%;
  flex-shrink: 0;
}

.main-section__img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* step */
.step {
  background-color: var(--background-color-step);
  padding-left: var(--side-paddings);
  padding-right: var(--side-paddings);
}

.step__container {
  padding: var(--step-container-padding);
}

.step-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  grid-template-areas:
    "abovetitle abovetitle"
    "title desc";
  column-gap: 141px;
}

.abovetitle {
  color: var(--abovetitle-text-color);
  font-family: var(--ff-add);
  font-weight: 600;
  line-height: 157%;
}

.step-header__abovetitle {
  grid-area: abovetitle;
  font-size: var(--abovetitle-font-size);
}

.step-header__title {
  max-width: 579px;
  grid-area: title;
}

.desc_steps {
  color: var(--desc-steps-text-color);
  font-weight: 500;
  line-height: 150%;
}

.step-header__desc {
  grid-area: desc;
  align-self: flex-end;
}
.step-list {
  margin-top: 82px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 68px;
}

.step-item {
  display: flex;
  flex-direction: column;
}

.step-item__title {
  color: var(--titles-step-item-text-color);
  font-size: var(--titles-step-item-font-size);
  line-height: 150%;
  margin-bottom: 20px;
}

.step-item__desc {
  flex-grow: 1;
  margin-bottom: 66px;
}

.step-item__img img {
  width: 100%;
}

/* story-section */
.story {
  background-color: var(--background-color-story);
  padding-left: var(--side-paddings);
  padding-right: var(--side-paddings);
}

.story__container {
  max-width: 100%;
  margin-inline: auto;
  padding: var(--story-container-padding);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--story-container-gap);
}

.story__info {
  max-width: 580px;
  margin-inline: auto;
  flex-shrink: 0;
}

.story__title {
  color: var(--titles-story-text-color);
  margin-bottom: 33px;
}

.story__desc {
  color: var(--desc-story-text-color);
  font-size: var(--desc-story-font-size);
  font-weight: 600;
  margin-bottom: 57px;
}

.story__img {
  max-width: 895px;
  width: 100%;
  margin-inline: auto;
  display: flex;
  position: relative;
  flex-shrink: 0;
}

.story__img img {
  width: 100%;
  height: auto;
  margin-inline: auto;
  border-radius: 16px;
  object-fit: cover;
  /* flex-shrink: 0; */
}

.story__icon-play {
  max-width: 80px;
  max-height: 80px;
  background: transparent;
  position: absolute;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.story__icon-play img {
  width: 100%;
}

/* product-section */
.product {
  padding-left: var(--side-paddings);
  padding-right: var(--side-paddings);
}

.product__container {
  padding: 120px 110px 243px 98px;

  display: flex;
  justify-content: center;
  gap: 68px;
}

.product__img {
  max-width: 638px;
  margin-inline: auto;
  border-radius: 18px;
  background: var(--product-img-color-background);
  display: flex;
  justify-content: center;
  align-items: end;
  flex-shrink: 0;
  overflow: hidden;
}

.product__img img {
  width: 65%;
  height: auto;
  object-fit: cover;
  flex-shrink: 0;
}

.product__info {
  max-width: 573px;
  margin-inline: auto;
  flex-shrink: 0;
}

.product__abovetitle {
  margin-bottom: 10px;
}

.product__title {
  margin-bottom: 20px;
}

.product__desc {
  max-width: 530px;
  margin-bottom: 40px;
}

/* footer */
.footer {
  background: var(--footer-background-color);
  padding-left: var(--side-paddings);
  padding-right: var(--side-paddings);
}

.footer__container {
  padding: 95px 65px 89px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.footer__logo {
  color: var(--footer-logo-text-color);
  font-family: var(--ff-logo);
  font-size: 40px;
  font-weight: 900;
  transition: 0.2s all ease-in-out;
}

.footer__ul {
  display: flex;
  align-items: center;
  gap: 60px;
}

.footer__a {
  color: var(--footer-text-color);
  font-family: var(--ff-add);
  font-size: 25px;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
}
